body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666667%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

header {
    background-color: #41958c;
    padding: 20px 0px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo span {
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.header-user {
    display: flex;
    align-items: center;
}

.header-link {
    flex-direction: column;
    text-align: center;
}

.header-link a {
    text-decoration: none;
    color: #93b1ac;
    padding: 0px 7px;
}

.header-link a:hover {
    color: #ccd2d1;
}

.header-user-photo {
    background-color: #ebe6d1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    width: 201px;
    background-color: rgba(88, 87, 87, 0.1);
    height: 100%;
    top: 150px;
    left: -201px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: #fff;
    background-color: #63948c;
    padding: 5px;
    position: fixed;
    top: 160px;
    left: 50px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.hidden-menu li {
    padding: 18px 42px;
    width: 118px;
}

.hidden-menu li:hover {
    background-color: rgba(59, 237, 130, 0.2);
    color: black;
}

.hidden-menu a {
    text-decoration: none;
    color: #000000;
}

.hidden-menu a:hover {
    color: #ffffff;
}

.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked~.btn-menu {
    left: 160px;
}

.hidden-menu-ticker:checked~.hidden-menu {
    left: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.hidden-menu-ticker:checked~.btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.hidden-menu {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

.main {
    padding: 50px 0px 0px 110px;
}

.main-task {
    margin: 20px 0px 0px 0px;
    display: flex;
    align-items: center;
}

.position_item {
    display: flex;
}


/*.position_item div{
margin: 0 10px;
}*/

.task {
    padding: 5px 575px 5px 10px;
    background-color: #63948c;
    color: #fff;
    border-radius: 0px 14px 14px 0px;
}

.person {
    padding: 5px 40px;
    background-color: #63948c;
    color: #fff;
    border-radius: 14px;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid #63948c;
}

.priority {
    padding: 5px 40px;
    background-color: #63948c;
    color: #fff;
    border-radius: 14px;
    margin-right: 5px;
    border: 2px solid #63948c;
}

.status {
    width: 50px;
    padding: 5px 40px;
    background-color: #63948c;
    color: #fff;
    border-radius: 14px;
    white-space: nowrap;
    border: 2px solid #63948c;
}

.main-sprint {
    padding: 30px 0px 0px 0px;
}

.sprint-task {
    word-break: break-all;
    padding: 5px 30px 5px 5px;
    background-color: #CDDBFF;
    color: #565762;
    border-radius: 0px 14px 14px 0px;
    min-width: 476px;
    /* padding:5px 10px 5px 10px;
background-color: #c4c4c4;
color: #565762;
border-radius: 0px 14px 14px 0px;
word-break: break-all; */
}

.sprint-person {
    padding: 5px 40px;
    background-color: #63948c;
    color: #fff;
    border-radius: 14px;
}

.sprint-priority {
    width: 50px;
    padding: 5px 40px;
    background-color: #63948c;
    color: #fff;
    border-radius: 14px;
    border: none;
    margin-right: 5px;
}

.sprint-status {
    padding: 5px 40px;
    background-color: black;
    color: #fff;
    border-radius: 14px;
    margin-right: 5px;
}

.bg_person {
    background-color: white;
    color: #63948c;
    border: 2px solid #63948c;
}

.bg_priority {
    background-color: white;
    color: #63948c;
    border: 2px solid #63948c;
}

.bg_task {
    background-color: white;
    color: #63948c;
    border: 2px solid #63948c;
}

.sprint-priority {
    position: relative;
}

#btn-container {
    display: none;
}

#btn-container.active {
    display: block;
}

#btn-container {
    background: yellow;
    position: absolute;
    top: 100%;
}

#btn-container span {
    display: block;
}

.btn-red {
    background: red;
}

.btn-green {
    background: green;
}

.btn-blue {
    background: blue;
}

.yura {
    width: 500px;
    height: 50px;
    resize: none;
}

.width-input {
    min-width: 100px;
}

input[value="AddToDB"] {
    width: 35px;
}

.filledTask {
    margin: 10px 0px 10px 0;
}

.status-button {
    margin: 5px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    color: white;
    width: 130px;
    height: 25px;
    border-radius: 14px;
}

.task-settings {
    border-radius: 5px;
    width: 135px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .32);
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.design span {
    display: block;
    margin: 0 10px;
}

.design {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
}

.content {
    display: none;
}

.add_task {
    margin-top: 15px;
    margin-right: 15px;
}

.input_dotted {
    width: 100%;
    border: 2px dashed #939393;
}

.del_task {
    cursor: pointer;
    margin: 0 45px;
}

.enterHandler {
    margin-right: 1px;
}

.productContainer {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}

.productItem_to_do {
    width: 100%;
    background-color: #d9d6d6;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.productItem_to_do .toDoSpan {
    position: absolute;
    width: 100px;
    padding: 10px 50px;
    top: -30px;
    left: 80px;
    color: #fff;
    border-radius: 20px;
    font-size: 35px;
    background-color: #c24332;
}

.productItem_in_process {
    width: 100%;
    height: 325px;
    background-color: #d9d6d6;
    text-align: center;
    position: relative;
    border-radius: 20px;
}

.productItem_in_process .inProcessSpan {
    position: absolute;
    width: 177px;
    padding: 10px 30px;
    top: -30px;
    left: 61px;
    color: #fff;
    border-radius: 20px;
    font-size: 35px;
    background-color: #eb984e;
}

.productItem_in_process .product_task {
    color: #eb984e;
}

.productItem_done {
    width: 100%;
    background-color: #d9d6d6;
    text-align: center;
    position: relative;
    border-radius: 20px;
}

.product_task {
    background-color: #fff;
    width: 92%;
    padding: 7px 0px 7px 10px;
    color: #58be8d;
    font-size: 22px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    border-radius: 10px;
}

.productItem_done .doneSpan {
    position: absolute;
    width: 177px;
    padding: 10px 30px;
    top: -30px;
    left: 61px;
    color: #fff;
    border-radius: 20px;
    font-size: 35px;
    background-color: #58be8d;
}

.draggUserItem:not(.dropp-sprint-task) {
    margin: 10px auto;
    position: relative;
    background-color: #fff;
    cursor: move;
}

.droppUserItem:not(.dropp-sprint-task) {
    position: relative;
    top: 0;
    width: 100%;
    height: 235px;
    margin: 0 auto;
    border-radius: 5px;
}

.overlayDiv {
    width: 100%;
    height: 100%;
    background-color: #ebf2f9;
    position: absolute;
    /* border: 3px dashed #3b73af;*/
    border: 3px dashed #3b73af;
    box-sizing: border-box;
    top: 0;
    z-index: 100;
}

.task-sprintBacklog {
    width: 343px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header_task {
    background-color: #7c7c7c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.id_task {
    color: #7c7c7c;
}

.id_task span {
    background-color: #fff;
    font-size: 16px;
    padding: 5px 7px;
    border-radius: 100%;
}

.name_task {
    font-size: 28px;
    color: white;
}

.close_task img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main_text {
    padding: 2px 10px 10px 10px;
}

.footer_task {
    background-color: #7c7c7c;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer_task span {
    background-color: #fff;
    font-size: 16px;
    padding: 5px;
    border-radius: 100%;
    color: #7c7c7c;
}

.flex_item {
    display: flex;
}

.flex_item div {
    margin-right: 15px;
    margin-right: 15px;
}

.flex_item span {
    background-color: #fff;
    font-size: 16px;
    padding: 5px;
    border-radius: 100%;
}

.flex_item div:last-child {
    margin-right: 0;
}

.sprint-backlog-item {
    display: grid;
    grid-template-columns: 30fr 30fr 1fr;
    margin-bottom: 20px;
}

.dropp-sprint-task:not(.taskText) {
    display: flex;
    flex-direction: column;
    border: 3px dashed #63948c;
    grid-column: 1/4;
    min-height: 100px;
}

.dropp-sprint-task span:not(.taskText) {
    margin: auto;
    color: #cacaca;
    font-size: 25px;
    font-weight: bold;
}

.sprint-name {
    font-size: 27px;
    display: flex;
    align-items: center;
}

.counter-esimate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.esimate-flex {
    display: flex;
}

.counter-esimate span {
    margin: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
}

.count-task {
    color: #63948c;
    display: flex;
    align-items: center;
}

.count-task-item {
    margin-left: 80px;
}

[type="checkbox"] {
    display: none;
}

.hidden-tasks:checked~div:nth-child(5) {
    display: none;
}

.count-task label {
    position: absolute;
    width: 50px;
    height: 20px;
    transition: 1s ease;
    -moz-transition: 0.5s ease;
}

.hidden-tasks:checked~.count-task label {
    transform-origin: 30% 30%;
    -moz-transform: rotate(0.5turn);
    transform: rotate(-0.25turn);
    display: block;
}

#backlogTrigger:checked~.hidden-area {
    display: none;
}

.counter-esimate-btn {
    width: 40px;
    height: 38px;
    border-radius: 100%;
    border: none;
    background-color: #63948c;
    cursor: pointer;
    position: relative;
}

.counter-esimate-btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counter-esimate-btn-start {
    width: 40px;
    border-radius: 100%;
    padding: 11px 8px;
    text-align: center;
    text-transform: uppercase;
    background-color: #63948c;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 12px;
    position: relative;
}

.counter-esimate-btn-start {
    border: solid 6px #fff;
    z-index: 1;
}

.counter-esimate-btn-start:before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    border: solid 3px #63948c;
    width: 60px;
    border-radius: 100%;
    min-height: 56px;
    z-index: 10;
}

.start {
    width: 40px;
    border-bottom: 2px solid #fff;
}

.arrow-down img {
    width: 30px;
    height: 30px;
}


/* backlog-item*/

.backlog-item {
    display: grid;
    grid-template-columns: 30fr 30fr 1fr;
    margin-bottom: 20px;
}

.create-sprint {
    background-color: #63948c;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-around;
    color: #fff;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.backlog-item {
    position: relative;
}

.backlog-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 3px;
    width: 100%;
    background-color: #63948c;
}

.backlog-item .sprint-name span {
    position: relative;
    text-align: center;
    z-index: 9999;
    background-color: #ffffff;
    width: 215px;
    /*margin: 0 auto;*/
    font-weight: 400;
}

.counter-esimate {
    position: relative;
    text-align: center;
    z-index: 9999;
    background-color: #ffffff;
    width: 236px;
    /*  margin: 0 auto;*/
    font-weight: 400;
}

#sprint-managment {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 135px;
}

#sprint-managment>div {
    cursor: pointer;
    background-color: #ededed;
    color: #4e968b;
    padding: 7px;
    font-size: 18px;
}

#sprint-managment>div:hover {
    background-color: #ffffff;
}